name: platform-production

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
  schedule:
    - cron: "25 7 * * 1-5"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build and push image alpine 3.18.12
        uses: ./.github/actions/push-image
        with:
          image_name: ghcr.io/multiverse-io/platform-production
          image_tag: alpine-3.18.12
          context: ./platform-production
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          build_args: |
            ALPINE_VERSION=3.18.12

      - name: Build and push image alpine 3.20.6
        uses: ./.github/actions/push-image
        with:
          image_name: ghcr.io/multiverse-io/platform-production
          image_tag: alpine-3.20.6
          context: ./platform-production
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          build_args: |
            ALPINE_VERSION=3.20.6
